In [1]:
#Q1. Create one variable containing following type of data:
#string, list, float, tuple
#Answers
Variable_String = ("Sumit")

Variable_List = [1, "Sumit", 2]

Variable_Float = 1.2

Variable_Tuple = (1, "Sumit", 2)

In [7]:
#Q2. Given are some following variables containing data:
#What will be the data type of the above given variable.
var1 = ' '

var2 = '[ DS , ML , Python]'

var3 = [ 'DS' ,'ML','Python' ]

var4 = 1.

#Answers
print(type(var1)) #string
print(type(var2)) #string
print(type(var3)) #list
print(type(var4)) #float

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [10]:
#Q3. Explain the use of the following operators using an example:
#/, %, //, **

#Answers

#This '/' operator is used for division
example = 15/7
print(example)
#This '%' operator is used for modulus
example = 15%7
print(example)
#This '//' operator is used for floor division
example = 15//7
print(example)
#This '**' operator is used for exponenetial
example = 15**7
print(example)

2.142857142857143
1
2
170859375

In [2]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
#Answer

lst = [1, "Sumit", 3.2, [-4,-5], 1+2j, True, False, None, {"Name": "Sumit","age": 20, "can_vote": True}, (1,2,3)]

for element in lst:
    print(type(element))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'dict'>
<class 'tuple'>

In [3]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
# Answer.
#In math, a number is said to be exactly divisible by another number if the remainder after division is 0.
'''Division problems can be represented using repeated subtraction just as multiplication problems can be 
represented using repeated addition. Repeated subtraction can be used to solve division problems by subtracting 
the divisor from the dividend until the remainder is less than the divisor.'''
A = 132 #dividend
B = 2   #diviser
count=0
while A >= B:
    A = A- B 
    count += 1
    
if A  == 0:
    print(f"Number A is purely divisible by number B. It can be divided {count} times.")
        
else :
    print(f"Number A is not divisible by number B.")

Number A is purely divisible by number B. It can be divided 66 times.

In [6]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
#Answer
lst = [3, 2, 6, 19, 21, 100, 225, 27, 99, 28, 33, 45, 88, 30, 54, 78, 1011, 1055, 2123, 2580, 111, 741, 852, 369, 456]

#In math, a number is said to be exactly divisible by another number(3) if the remainder after division is 0.

for x in lst:
    if x % 3 == 0:
        print(f"{x} is divisible by 3.")
    else :
        print(f"{x} is NOT divisible by 3.")

3 is divisible by 3.
2 is NOT divisible by 3.
6 is divisible by 3.
19 is NOT divisible by 3.
21 is divisible by 3.
100 is NOT divisible by 3.
225 is divisible by 3.
27 is divisible by 3.
99 is divisible by 3.
28 is NOT divisible by 3.
33 is divisible by 3.
45 is divisible by 3.
88 is NOT divisible by 3.
30 is divisible by 3.
54 is divisible by 3.
78 is divisible by 3.
1011 is divisible by 3.
1055 is NOT divisible by 3.
2123 is NOT divisible by 3.
2580 is divisible by 3.
111 is divisible by 3.
741 is divisible by 3.
852 is divisible by 3.
369 is divisible by 3.
456 is divisible by 3.

In [16]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
#Answer
'''Immutable Data Types:

Immutable data types are those whose values cannot be changed once they are assigned. 
If you modify an immutable object, a new object is created with the updated value.
Examples of immutable data types in Python include integers, floating-point numbers, booleans, strings, and tuples.'''

# Example of immutable data types
x = 10
print(x)  # Output: 10

x = x + 5
print(x)  # Output: 15

y = "Hello"
print(y)  # Output: Hello

y = y + " World"
print(y)  # Output: Hello World

'''In the above examples, the values of x and y are reassigned, creating new objects with the updated values. 
The original objects remain unchanged because they are immutable.'''


''' Mutable Data Types:

Mutable data types are those whose values can be modified after they are assigned. 
Any changes made to a mutable object will directly affect the object itself without creating a new object.
Examples of mutable data types in Python include lists, dictionaries, and sets.'''


# Example of mutable data types
lst1 = [1, 2, 3]
print(lst1)  # Output: [1, 2, 3]

lst1 += [4]
print(lst1)  # Output: [1, 2, 3, 4]

dict1 = {"name": "John", "age": 25}
print(dict1)  # Output: {'name': 'John', 'age': 25}

dict1["age"] = 30
print(dict1)  # Output: {'name': 'John', 'age': 30} 

'''In the above examples, the values of lst1 and dict1 are modified directly.
The changes made to these mutable objects affect the original objects themselves.'''

10
15
Hello
Hello World
[1, 2, 3]
[1, 2, 3, 4]
{'name': 'John', 'age': 25}
{'name': 'John', 'age': 30}

'In the above examples, the values of lst1 and dict1 are modified directly.\nThe changes made to these mutable objects affect the original objects themselves.'